<div class="container mt-4 mb-4">
    <div class="checkout-container">
        <div class="checkout-body col-12">
            <div class="row">
                <div class="shipping-address col-md-6">
                    <div>
                        <h2 style="font-size: 20px; font-weight: 700;">Shipping Address</h2>
                        <div class="card p-3 mt-2" style="width: 100%; background-color: #f7f7f7;">
                            <div>
                                <div class="info-container">
                                    <div class="info-label">Name:</div>
                                    <div class="info-value">{{nameUser}}</div>
                                </div>
                                <div class="info-container">
                                    <div class="info-label">Address:</div>
                                    <div class="info-value">{{location?.locationName}}</div>
                                </div>

                            </div>
                            <hr>
                            <div style="display: flex; align-items: center; justify-items: center;">
                                <div class="me-2">
                                    <img width="100%" height="45px" src="../../assets/images/logo.png" alt="">
                                </div>
                                <div class="row">
                                    <span style="font-weight: 700;">Delivery: $1.25</span>
                                    <span>LaorTinh Bikers (Delivery within 1-3 days)</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3">
                        <h2 style="font-size: 20px; font-weight: 700;">My Shopping Bag</h2>
                        <div class="card p-3 mt-2" style="width: 100%; background-color: #f7f7f7;">
                            <div class="product-list">
                                <div class="product-item" *ngFor="let data of resultData">
                                    <img [src]="data.product?.thumbnail || 'assets/images/default-image.webp'" alt="Image"
                                        class="product-image" />
                                    <div class="product-details">
                                        <p class="product-name">{{data.product.name}}</p>
                                        <p class="product-price">US {{data.product.unitPrice}}</p>
                                        <p class="product-price">Quantity: {{data.quantity}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6">
                    <!-- <div>
                        <h2 style="font-size: 20px; font-weight: 700;">Payment</h2>
                        <div class="card p-3 mt-2" style="border: none;">
                            <div class="form-check form-check-inline m-2" style="display: flex; align-items: center;"
                                *ngFor="let payment of paymentOptions">
                                <div class="form-check">
                                    <input class="form-check-input me-3" [formControl]="bank" type="radio" [value]="payment.value" id="payment-{{ payment.value }}" />
                                    <label for="payment-{{ payment.value }}">
                                      <img class="me-2" [src]="payment.image" [alt]="payment.label" height="30px" />
                                      {{ payment.label }}
                                    </label>
                                </div>  
                            </div>
                        </div>

                    </div> -->

                    <div>
                        <h2 style="font-size: 20px; font-weight: 700;">Note</h2>
                        <div class="form-group">
                            <textarea rows="5" type="email" class="form-control" id="exampleInputEmail1" [formControl]="remark"
                                aria-describedby="emailHelp" placeholder="Enter note"></textarea>
                        </div>
                    </div>

                    <div class="cart-summary mt-4">
                        <p class="total-price">Total Price: <span class="text-danger">{{totalPrice}} USD</span></p>

                        <button (click)="Payment()" class="order-button">
                            Checkout
                        </button>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>


<p-dialog [(visible)]="visible" [modal]="true" [style]="{ width: '25rem' }" [closable]="false">

    <div class="dialog-content">
        <h2>{{ message }}</h2>
        <button pButton label="Go to Home" icon="pi pi-home" (click)="closeDialog()"></button>
    </div>

    <div class="balloons">
        <div class="balloon" *ngFor="let balloon of balloons"></div>
    </div>

    <!-- <div class="d-flex flex-column" style="display: flex; align-items: center; justify-content: center; width: 100%;">
        <div class="d-flex flex-row align-items-start">
            <div class="ks_wth160 d-flex ks_flex_col">
                <div class="ks_main_cont ks_wth160">
                    <div class="d-flex justify-content-center ks_cnt_hd">
                        <svg width="60" viewBox="0 0 166 40">
                            <path
                                d="M107.798 14.5845V26.9495H95.4329C94.1647 26.9495 93.2136 25.9191 93.2136 24.7302V14.5845C93.2136 13.3163 94.244 12.3651 95.4329 12.3651H105.499C106.847 12.3651 107.798 13.3163 107.798 14.5845Z"
                                fill="white"></path>
                            <path
                                d="M165.739 19.578H159.557C159.557 12.2065 153.533 6.18253 146.161 6.18253C140.296 6.18253 135.144 9.98717 133.4 15.5356C133.004 16.8831 132.766 18.2305 132.766 19.578V39.2353H132.607C129.278 39.2353 126.583 36.5404 126.583 33.2113V19.578H126.663C126.663 14.1881 128.882 9.03601 132.845 5.31064C136.491 1.90232 141.247 0 146.241 0C157.02 0 165.739 8.79822 165.739 19.578Z"
                                fill="white"></path>
                            <path
                                d="M165.819 39.2353L157.1 39.3146L154.96 37.1745L150.204 32.4187L143.625 25.8398H152.344L165.819 39.2353Z"
                                fill="white"></path>
                            <path
                                d="M109.859 33.132H91.232C88.9333 33.132 87.1103 31.309 87.1103 29.0103V10.3042C87.1103 8.00559 88.9333 6.18253 91.232 6.18253H109.859C112.157 6.18253 113.981 8.00559 113.981 10.3042V28.9311L120.163 35.1136V6.02401C120.163 2.69495 117.468 0 114.139 0H86.9517C83.6227 0 80.9277 2.69495 80.9277 6.02401V33.2113C80.9277 36.5404 83.6227 39.2353 86.9517 39.2353H116.041L109.859 33.132Z"
                                fill="white"></path>
                            <path
                                d="M34.1625 39.3146H25.4435L7.21295 21.0048V39.3146H0V0H7.21295V17.5172L24.6509 0H33.2906L14.2674 18.8647L34.1625 39.3146Z"
                                fill="white"></path>
                            <path
                                d="M66.7397 0H73.7941V39.3146H66.7397V22.1937H46.6068V39.2353H39.5524V0H46.6068V16.4075H66.7397V0Z"
                                fill="white"></path>
                        </svg>
                    </div>
                    <div class="ks_content">
                        <div class="d-flex flex-column ks_p10 ks_brd_btm_dash">
                            <label id="merc-name" class="ks_lbl ks_fs12 ks_sec_clr"></label>
                            <label class="ks_lbl fw-medium">
                                <span id="total-amount-khqr"></span>
                                <span id="currency" class="ks_fs12"></span>
                            </label>
                        </div>
    
                        <div class="mystyle">
                            <div class="ks_d_grid ks_plc_itm_ctr ks_p10">
                                <div id="qrcode" class="qrcode-container">
                                    <span id="currency-sign"></span>
                                </div>
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    
</p-dialog>